{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>{{ collection.filename }}</h2>

      <br>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <form id="filters_form" action="{% url 'characters:aggregate' collection.pk %}">
          {% for header in headers_all %}
            <input name="filters[]" value="{{ header }}" type="checkbox" class="btn-check btn-check-header" id="chk_{{ header }}" {% if header in headers and count %}checked=""{% endif %} autocomplete="off">
            <label class="btn btn-info" for="chk_{{ header }}">{{ header }}</label>
          {% endfor %}
        </form>
      </div>

      <table id="character_table" class="table table-hover">
        <thead>
          <tr>
            {% for header in headers %}
              <th scope="col">{{ header }}</th>
            {% endfor %}
            {% if count %}
              <th scope="col">Count</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% include 'characters/collection_detail_table.html' %}
        </tbody>
      </table>

      {% if not count and more %}
        <a id="load_more_btn" class="btn btn-success" href="#" role="button" data-page="2">Load More</a>
      {% endif %}

      <br>&nbsp;
    </div>
  </div>
{% endblock %}
